<h1>オウム返し</h1>
<form action="#">
<p>
  <input type="text" size="70" />
  <input type="submit" value="talk" />
</p>
<p><textarea cols="70" rows="15"></textarea></p>
</form>
<script src="/javascripts/script.js"></script>