<h1>リアルタイム</h1>
<form action="#">
<p>
  <input type="text" id="name" size="8" value="yourname" /> :
  <input type="text" id="input" size="70" />
  <input type="submit" value="talk" />
</p>
<p><textarea cols="70" rows="15"></textarea></p>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/script.js"></script>